.sidebar {
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 69px; /* move it down 20px */
    left: 0;
    overflow-y: auto;
    background-color: #ffffff; /* optional: light gray bg */
    border-right: 1px solid #ddd;
    padding-top: 1rem;
  }
  
  .nav-item {
    font-size: large;
    font-weight: bolder;
    border: 0px 0.1px solid #ccc; /* subtle border */
    margin-bottom: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
   
  }
  
  .nav-link {
    color: #333;
    padding: 10px 15px;
    display: block;
    text-decoration: none;
    /* margin-right: 30px; */
  }
  
  .nav-link:hover {
    background-color: #e9ecef;
    color: #000;
  }
  
  .content {
    margin-left: 250px; /* match sidebar width */
    padding: 20px;
  }
  .BrandName{
    font-size: larger;
    font-weight:bold;
    text-decoration: none;
   
  }
  .nav-link .img{
    margin-right: 20px;
  }