/* ProductDetailsPage.css */
.product-images {
    display: block;
    grid-column: 1 / span 6;
    position: relative;
    flex-direction: column;
  }
  
  .product-sidebar {
    padding-top: 0;
    grid-column: 8 / span 4;
    position: sticky;
    display: flex;
    flex-direction: column;
    color: rgb(61, 61, 61);
  }
  
  /* Add other styles as needed */
  .product-details-container{
    padding: 0%;
    gap: 0%;
  }