.SelectedCollections{
    width: 60%;
    margin-top: 2%;
}
.selected-collections-wrapper {
    width: 100%;
    max-width: none;
    margin: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .selected-collections-header {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    
  }
  
  .selected-collections-header h5 {
    margin-bottom: 24px;
    text-align: start;
    font-size: 18px;
    line-height: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .selected-collections-header h5 strong {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .selected-collections-grid {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .selected-collection-item {
    min-height: 40rem;
    border: 0px none rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0;
    margin-bottom: 48px;
  }
  
  .collection-link {
    color: rgb(34, 34, 34);
    text-decoration: none solid rgb(34, 34, 34);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
    height: 100%;
  }
  
  .collection-image {
    line-height: 0px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .collection-image picture {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .collection-image img {
    width: 100%;
    object-fit: cover;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .collection-info {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 16px;
  }
  
  .collection-info h4 {
    text-align: start;
    margin: 0px 0px 8px;
    padding: 0px;
    font-size: 18px;
    line-height: 23.4px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .collection-info h3 {
    font-size: 16px;
    line-height: 20.8px;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .collection-info h3 a {
    color: rgb(0, 0, 0);
    text-decoration: none solid rgb(0, 0, 0);
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  /* Responsive adjustments */
  @media (max-width: 767.98px) {
    .selected-collection-item {
      min-height: 30rem;
      margin-bottom: 24px;
    }
  }